

img{
  width: 100%;
}

#Head {
  background-color: red;
  height: 60px;
}


/*Spider-man!!!!!!**********************************/
.title {
  background-image: url("images/spiderverse-image.jpg");
  background-size: cover;
  background-position: left;
  height: 600px;
  width: 100%;
  margin-top: -20px;
}



@media screen and (min-width: 1001px){
  .title h1 {
      color: white;
      font-size: 140px;
      padding-left: 10px;
      margin-bottom: -30px;
  }
}

@media screen and (max-width: 1000px){
  .title h1 {
      color: white;
      font-size: 100px;
      padding-left: 10px;
      margin-bottom: -10px;
  }
}

@media screen and (max-width: 500px){
  .title h1 {
      color: white;
      font-size: 60px;
      padding-left: 10px;
      margin-bottom: 0px;
  }
}

@media screen and (min-width: 501px){
  #to{
    padding-left: 180px;
  }
}

@media screen and (max-width: 500px){
  #to{
    padding-left:90px;
  }
}

/*Small Spider-man*********************/
.title-s {
  background-image: url("images/spiderverse-image.jpg");
  background-size: cover;
  background-position: bottom;
  height: 300px;
  margin-top: -20px;
}

.title-s h1 {
  color: white;
  text-align: center;
  position: relative;
  top: 170px;
  font-size: 50px;
}


/*About*/
@media screen and (min-width: 1001px){
  .about-title {
    background-color: black;
    color: grey;
    height: 150px;
    margin-top: -20px;
    text-align: center;
    font-size: 100px;
    word-spacing: 50px;
  }
}

@media screen and (max-width: 1000px){
  .about-title {
    background-color: black;
    color: grey;
    height: 80px;
    margin-top: -20px;
    text-align: center;
    font-size: 50px;
    word-spacing: 20px;
  }
}

/*about section BIG SIZE****************************/
.about-grid {
  display: grid;
  grid-template-rows: repeat(3, 170px 250px);
  grid-template-columns: 100px repeat(3, 1fr) 100px;
  width: 100%;
  height: 1450px;
  grid-column-gap: 15px;
  grid-row-gap: 20px;
  justify-content: space-around;
}

.about-grid p, p{
  font-family: Calibri;
}

/*Skills section*/
.skills-header {
  grid-column: 2 / span 3;
  grid-row: 1 / span 1;
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  align-self: center;
}

.skill-image {
  height: 300px;
  width: 400px;
  object-fit: cover;
  grid-column: 2 / span 1;
}

.skills-p {
  grid-column: 3 / span 2;
  /**font-size: 35px;**/
  line-height: 1.2;
}

.skills-s{
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}


/*Exp section*/
.exp-header {
  grid-column: 2 / span 3;
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  align-self: center;
}

.exp-image {
  height: 300px;
  width: 400px;
  object-fit: cover;
  grid-column: 4 / span 1;
}

.exp-p {
  grid-column: 2 / span 2;
  line-height: 1.2;
}

.exp-s {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

/*hobby section*/
.hobby-header {
  grid-column: 2 / span 3;
  font-size: 80px;
  text-decoration: underline;
  text-align: center;
  align-self: center;
}

.hobby-image {
  height: 300px;
  width: 400px;
  object-fit: cover;
  grid-column: 2 / span 1;
}

.hobby-p {
  grid-column: 3 / span 2;
  line-height: 1.2;
}

.hobby-s {
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}

/*Links and resume section    ****************************/
.links{
  text-align: center;
  word-spacing: 10px;
}

/*Resume*/
#resume {
  text-align: center;
}

/*profile links*/
.links a{
  text-decoration: none;
}

@media screen and (min-width: 501px) {
  .links, #resume, .links a, #butt{
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .links, #resume, .links a, #butt{
    font-size: 25px;
  }
}


/*Education  ****************************************/
@media screen and (min-width: 701px) {
  #education, #honors{
    padding-left: 100px;
    font-size: 40px;
  }

  #education h1, #honors h1{
    font-size: 80px;
    text-decoration: underline;
  }

  #education h2{
    font-size: 60px;
  }
}

@media screen and (max-width: 700px) {
  #education , #honors{
    font-size: 20px;
    padding-left: 20px;
  }

  #education h1, #honors h1{
    font-size: 40px;
    text-decoration: underline;
  }

  #education h2{
    font-size: 30px;
  }
}
